.datalist {
  padding: 2rem;
  background-color: #f2f2f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  &__wrapper {
    background-color: $color-light;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.02);
    padding: 2rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button.btn--add {
      background-color: transparent;
      border: none;
      font-weight: 600;
      cursor: pointer;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      &:hover {
        color: $color-primary;
      }
      svg {
        display: inline-block;
        margin-right: 0.7rem;
      }
    }

    &__nav {
      display: flex;

      li {
        margin-right: 1rem;
        margin-bottom: 0.7rem;
        a {
          padding: 1rem 1.6rem;
          font-size: 1.4rem;
          background-color: $color-primary;
          color: $color-light;

          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
          border-bottom: none;
          font-weight: bold;
        }

        a.active {
          background-color: $color-light;
          color: $color-primary;
        }
      }
    }
  }
}
