.donationblock {
  padding: 10rem 0;
  &__header {
    font-size: clamp(2.5rem, 5vw, 3rem);
    margin-bottom: 3rem;
    text-align: center;
    font-weight: 600;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: clamp(1.8rem, 4vw, 2rem);
    margin-bottom: 3rem;
  }

  p {
    line-height: 1.6;
  }

  // PROJECTS CARDS
}

.goto__children {
  text-align: center;
  margin-top: 5rem;
  a {
    padding: 1rem 1.4rem;
    background-color: $color-dark;
    color: $color-light;
    border-radius: 2rem;
    transition: 0.5s ease;
    &:hover {
      background-color: $color-dark-d;
    }
  }
}
