<div
  style="
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0ffe1;
    width: 100%;
    height: 100%;
    position: relative;
  "
>
  <div
    style="
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 360px;
      text-align: center;
    "
  >
    <div style="background-color: #fff; padding: 30px; line-height: 1.4">
      <div style="text-align: left; margin-bottom: 20px">
        <figure>
          <svg
            version="1.1"
            id="Layer_2"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="250px"
            height="58px"
            viewBox="0 0 250 58"
            enable-background="new 0 0 250 58"
            xml:space="preserve"
            style="display: block; margin: 0 auto 2rem"
          >
            <image
              id="image"
              width="250"
              height="58"
              x="0"
              y="0"
              href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAA6CAMAAACu2rS7AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
        AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAC/VBMVEUAAAAFIgAILwEILQEH
        KwEHLQEHMQEJLgIHLgEHLAEGKwEGLQAEHAAGLQAFJwAHMAEGLgAHHwQMMAYILgIGLQEKJwcGLQEG
        LAEGLAAGLQEGLQEHLgIHLgIHLgIHMgEHMgEHLQMHLwEFJwAHLwEILwIGLgAGKgEGLQEKMAUGLQEF
        IQAHKQFHYEJWbVFjd19QZklvg2s6VDMePhoqSic5UTFUa1IFJAI1VTE1RCUXNxTk5uK7wrkZPBZE
        YEIpSiR2hXEzSilleF66xLhbclcQNQygq5ydqZuFloMDFQNeclqAjXoePhyMmYhQZEYePBhmfGXJ
        z8giQx4ULg8qQiKLm4dcbFC7w7airJ4TOQ4gQR1MY0eJlIRDXT45UjY/UTFjPR09VzvKc1/xa0QH
        JAH9VzybWzxBWj4EIwEFHQAEGwAJNwIBCwAEGQACFQACEgABDABxgGz968sGIgIABgAFIgAFJAIE
        HQEEGgACEwAFIgEBDgABCAABCAACFAADFQABCgADFwACFQAABgD3hlQDGAAEHgABCQABCwD3q33+
        7ciUn5A0SSrd3Nb6w5zi4NUDGQCwuaz6wpTziDf2n0370Z35uV4uSCf+8shqeWT5wERdb1g1UTMi
        Mw783Y/99LF6jHkmPh3/7aBccVg/UDT84Ub83WsjMw4pOxEBGAH/9nX/+YQjMw5LW0FtfGcxPx1Q
        XT//92AgOhYxTTD//Tc9SypLWDrIxzxYY0uFjXtjbVYTJQAHLgAFLAACKQAHMwEAIgAAGgAAHgAA
        FgAAAAABJgAACAAADQAAFAArORT+SjYAEADpUzHuYTn/Xj0IOAHrRxMJPwHvaTXtXBbwczfxfjbv
        axHxdxbzjjXzih70mDX0liT1oTX1mxD2qDP2pyT3rjX4tSL4tTP5uzT4tQn5wTP6xCT6xzL6xAr7
        zTP8zxP70jIjMw792B381zH93zP92goeLwkhMQv+5iITJAAXKAIbLAUOIAAlNRD+5zL+5A0GGAAK
        HAD//R//7Q////95bBIRAAAAu3RSTlMAGzlheouTmYZsTSkEUzAhWhNCZkcJ4L9wqcrz5+zbsPzD
        F9K6f3Sf+bUPjp+nfGmNwOPNspP6x9PlBybtq9p7x5xBn/ZPQWT4i27OWrvabRrg7bh2tjVl8MB4
        SbmU1PxcqerL/OCLpZGEzkGXiGdTWjHUWa/q7cB04UgzIJ5tYKd6OdyyuUwopk4omQ5tJX9Vgf7s
        W9KrPEnxWXmHn2QUgIQko+a5dnb9tJbwQzPtztORafzl177zn+aeAjOk8AAAAAFiS0dE/tIAwlMA
        AAAHdElNRQfmARkHKifTlgxcAAAXQUlEQVRo3u2bCVRb15mAf8QmNiF2hACJTYjFYHaD2Y1hsMGA
        8YIxeJg6BTtgjAEbA7axiY2T2MFu2tgEp7Fjp80ktZ2lSTvTK+lJegK5SoaQtM2kmUySTpqmKWki
        ha2GzDlz39P23kNecnrmdDn9ybHu/e99973v/v/97/+uFIB/yD/EsTjxnF1c3dzd+B6eXt73d4Uz
        j+fs7OwjsGk8fXiezjxuP567uyez7ivkUTfw9eE5+9nG8ncW8jwDGGN5CXn+PsC5zl9oH9WHvpF/
        IKOXMJDn44wHCrp/7KBA92DElJBQr3tf5SVCKCwkRIxsGo9wFBEijmTDi5BEIo1iPI1XGIrCH4JI
        5B5t1UlQVAyKiJXaxxLEIBTHvl8YQnxbzSeCbhYiJLPp4qQoPCQkBrFm+i4SLQvBsJF8H55ZBP4e
        sZQi3v+el8qpJ/VjoApRKHiFIyZ7CFVzEgf7sa5zpR4+xq6JdAUB5oqOtZtdgETcJ0VhjBoPoUBq
        ZmMZOnf61rF8uB+JdsWYEmcvX54wLj4hJCQhni/kRScK8ASisHvNXjBtpGgnm8ITo0Mgird3CUUe
        5gYZ4zqRnDJMIAPNIwij4PkQMDweuXNul4gkTPRIJMXz6cq4GcTR6N734bLgG4+d2zPQOQ67GlIo
        KV9XKvA/YXyhwCsOoRjhXS8Pp9D9fe0KHxQAkETxWyXK7ALRKNiuc3L1kiMn8GFblUZniIA5g2Yz
        oQRGLYDPowZ1Y47iivDDOAng3uKMwX18QyMRUhFqpBQjil+BFBqMH+ES7YvhJb53uT4SuYS6iRlz
        7IPcvYQohBEmg5F5ADFKtCNIcMcY4ElYg31jdBHEIzdwZaLzkXuoS3go3Eu8YlCkFw/bXUlotMmr
        yJRUDULa1Wnq9AydTqdQIAkPTyMn1nDQZR78cBY6jnqsuGxHty/2aEkiuCB3pz/P6s4SKpAECtno
        bh6ySI97kftjqkQPysWlmVnZObAmJUWL1Ll5WRPpa/MLCgm1kgqoAvGKJWcX2uEDGUHNB/kHsqNT
        GKLdLwiJGQgiHNljkISN+o3RRdSwckkSQ2d2+MB7kLuicCdeMNLp1Nqi4uQieUnpuuQyXW5WyvpJ
        eXlFwT9VbtAQCMk9ccfgxDuMEYw4Ck8c1EQsP0kyOwEPuyYDHQ8YFMFB4yF2YPYyt/vZnchvBTpl
        PxeGjm+OLF5+cBfho5AgvNR18o3JuetzJqoK0tZVF2zSFKfpa3LWZdTWbS6vXLeZint8kKHwO4TM
        cC66P3KGoEimy/uFR1Bbehhixowos1VDOKhsdCfzbIUx5oyFLqQroayr4ujbeIbdyVaUUKYJQUpt
        enlu1oZVVfXrNmcQBA5uSqWSqEvTFMi3bCW35Wjwgkfh+CGQo2DnlISQK2t+fYJRZCDegxDfrk4M
        RnEu4WJG1PUToXhqP4wPZl7rjxMWGTPxiUJIFC+RIlvM9MXphn0ZC8LN3YMZ+3oA3pPiRVErVgrb
        5vEQixSKzM3bi8ishh3JiCBwsFPjv1tKnUZBpBftaNwpJrQKnQJFBvkjcfTKQXxdPQL4LH0APyBO
        iFe/zJWpDk2I5TNTSye+B5+eSlbO5MMPcOEzrCXgB8jc3Nz49k5ergEye3bAiwulu/syXEzmEsDH
        14Texeih2JfwMldXZmVPrl/dlE0Qaq1aXpiZ3Ny86+f/TOjVSoWuvlmpkW6oycHsUuyMwfB3If54
        U01Aynx5VlbzjsIisU5jKC5ZtbqopqWl5V9+/q2SrAJCj22v1JaU784qMChRJHig2D//vn8Fgs0Y
        j5SGlJ0TmwtSNGq1obiiqjJDapicJNWvP/DAtwsqdmYRBgUisqSTdfn5DQqcO8ejO+2Wib6J93fb
        u71PMZLh/0+RIH8hUpY1yVNqNhY06CbTK4qyCHJSnpPcWvHtn7/+wOuTE2k1Feu0hLKuYNNERnm+
        VoW33BjkKD90lsS27dkbn8D3wNHI200SmiTjS9ypvctNIqPKe7yBL5IlufATkvaKHhTFWYOWZ2xS
        nGtovKSdqshiO/btEYVSy9rJJVQicpXw4/a6iOKTYvlxncATuYcmhbpJGHPP77CXQyUyV9F+a00W
        mxQQL7lDKitE/CAqg6tuILtqtJrJVdsq9aQ6p6YWtx144PU3Xv+Pb0tJsnhthVat3LSxNS+3sImg
        QjwO9VzhRaq6e6Ihsb13agozeO8/uLu9U3VofxBd7ms/rOrHzzTQn91zWNU36DfYq+wXD5ovPXJU
        19Meodh3hLKF8nAiCDqmEL7OpxtlH2vv0O1vVxFDA8e7D/ZD9AlFR3uI6uiw/cZTCnu5/WD3kewp
        q+cNHz24Dx2NdowuF+PgrpGntG5I1+VrtKvXZ5CaVeV0U94bb77xxhuvP7StRk7qN5RvNmgKq3JX
        7UzG214wfiH04YwkUyDrbLdPHac/+xMlh6zN3YlRB82lkxCqpAvHOk+prPve3iGn6R6q4IGGaMWA
        agR7g+okVe7dz6M7npb3U9Y6CtMnGTf2363az6gePQFhETbaYdXhO7i7BwoQIl36qtaurkotMVlR
        aiBzyy1tD7/5FkZ/481HoLaJJCvXpusVRNajmyYJOqdFUvbpjcchxZCtcsKcqPb6RNqesXcg3FI+
        NuhmnpDo40em9liafQ57qk7jz8S2bIsndOPpc802z+phmbnQQ7mC3wm/qR7GncMH2xh5MThN7Yep
        CFu1u90xeSLepuUYPflMV9MhNFlUZSALzlraHnvzLVrefghXNqjJylGxllhdqC7bmI7ZcZbKzBnB
        51Qw0xIn6bluG3jwuFXT1m6dhtDTFnToHYzptzQLj5nRA5PEe82azm6c6JkvdzkWakaH3dgVfDG6
        fZbBUyGAKYbZ/Y+fOgeqSGs1acQxugsS4LxXpVNL63OUEyWjanK1tWn0rbd/Qctbbx/AVTwpRaUG
        naYgK2VtBkGdA7E2d++Tx6cYqw8EI3dGl9nRBQ3dHHT/oc4py8Pi8QJP06W4Yx4W9OHTK9DjO895
        i/vtdZ+jsLvde/qUpep6B/RgFB1OH78pcB5TV5pLVltbzn7LQv6LX7z9MKVYP0mWbiEVZbnlTVoq
        ycU5ICP/8jknU6w8vrwHeuAel2mruazo3h1+x6Zi9rPHsaNTwkYX9MKew+1T9lzZ8xROl0cSp6Lu
        anVf5CY0k2sUyHC+hKyzNT389i+t8quH4DuPAawixaV1Wm1FEaksVlD5M4qyjyRrjz+4cvy2gZij
        NuMMcNF9w7qnbIvEig77g48M9qvCne8XXXIUnPpgyjbF4InHdMKDTO+7G7o7os5RCZ1OniafWFc6
        adhmbXnsVzbyX77zEDz29iMAheTq0kkiJ6e5saaOwO4eguyZh4vgwe6V47cNJAS7WaT7tB1dJhWJ
        EsJV2UODtq42dGgP6Rg8chRNMY7v7oLu248fYp9gZMoW0z0pVz8d7nR6+uhd0KXB3mKkLMzdnF9Z
        N7Elx+7ueY+/87hNfvk4nH3n8TwondCMVuuJ1kerWgvUdKAT2kY6ceTB/pXjtw1IDh4/aZb+I3Z0
        /iGBYHDvwe499q52dLzRhcgETien2+4HXUbZNnovWGxsRYfB7qDO6c47ovOQUIB0dbtympryDU3b
        J5S1NqO/858MefwAfPdX36HNvn1CJ99e05ivQ8gziPFy7HIkXukI/W4Ov+9csD1SMtGx1/fGBg1M
        n7sP9Chn6sQ8eLhDykaH9ggYmD58J/QAxItD6qaUlMytdeT2LeQ6W8t33/01Q979HjzxzncBKiby
        t5epc1aTBkKFUAIg2w4CskFn1REH6PYwJ1oR5k6fg6lex+jYjcJhn8qa598Z3UfXG9LXdypmD9i2
        egs6jMTAHrxZOI7wOEaHISVKv7Aza7KstJBcb214hEX+6/cegyfefQ9vcflkaYlB2pScK5ZTMV6C
        bO8gPvuOTA8xxw7cD/eM8G0jg9PWhMOKvsf6pMP7/FTW8p3Rgy2FDui1nhFZ0anE4Nz0aR/ObmGW
        ELm/VNlQsHFzQ66+ab1eUUtrLx6Ah9/9L6a8h63+3nvY40vIqiqDMre6fGwj9ng/H/sXK0G7h8OY
        +3wi6rk3+nA49Iq92ehR1geHPTKx9anviM7rs2IeOzJtySs8d1s7doZAvKrXHkoZIg8JRAp53cbM
        YkJfsoXMoZWj72PQ9/+bKR+MwocfvP8EQA1OZzW67Jryjdl4RwyMRvYtaH8bMOISSOhnih9xhO5h
        S2nOdYA19bCi820HfB7dYutmLbNlc5Q4HY62eveDJ6xTvTso3ILsYX+Z2dcHYSpHh5LeyBXn77kX
        wpWr8vVZlWQJrX3i/QPw5AcfMuSDD2H0gw8/ePIsVJFpa8u0hSlqNc7nqJ2dcQh4Yu+Iyvog4NZP
        L4Xd7ZFWs0DUcISl7DroZgXpPbzfkgQK9wZOUejCCOvyd1fZNgD3cwGMlzPfjqDpY2YDI5tJk46d
        njJX3BX2mLG3FxKYSaZVopGHMyLqUlvGMwndpacMNZTy++9/dBGe/Og3DPngSXj6/d/8BuvL1eGX
        CwlNw/hYJkF9G8E6ZD+6p1PcRu+uvKhsesfnHQIZsjwHrxtcFbTWqx8CVQOW2d99LElFa0NGQE6h
        CrvFZj8InbLtlk7SwSD7PIDoKETS+ROvr7PX+nrq0gFRtMN4Hh6KsAfc4+eEjsKcLxIGIEVDmVJM
        KIjUK5pxrBv96CMa/X8Y8vEz8ARWfPQ0XJ065FdIRGRdq6+s0yFX9nEwDB1rU6mCo6Ki+uijg6B4
        dFDUq1K1YY9LtJa9wQ3pRAl4f7CcH+zrmFJ1evtEKhNEYlXUCCQe60DiBHdRjGKfJYZ6SaQ6UZtU
        FWZ+rfEPUXQnBKtiDkMoOpikMs92gASFS8JUwYfxrtXtpkIim+H3qhytdS/k6YF0OzKl8jKFLvWK
        ugvrnvn4tx9hh//kt3b56BN45GP8iWfgquqQX4Ymv0mjb0ojkBtwzs5hsKejr+9opzlyefcMtA/t
        HxwYok5pzOWRIW/oGRke6hkc6LRa5kjnqX7BYM9wz9DwsDm7O3L4ZF/fPlum6DQ0Ym40B73TQ8Mj
        Q+2DPQPQPtDeg8uU3ds72weGBijl8MAINbo9zzxx2gG6L42+qdn1UgFBNF6ZKMJZ3JOf/O4TCv13
        dvn4EfgdVf/0GdipjcQOr0wvk2eIFQ7Q/2aEdniiODNbipC2MoXKaC5+8vvff3IRnsUfVvn0B/CD
        T+nCM9BFpp1t0EgJta4uXMFweN6VH1LynE3YVVYLuw9dDXjOcdcfckZ9jlO1ax0qrVfjf69w0BOR
        zBmv9QaNLkOpL6kgC3Eu89kf/vDZI/AD/GERTP79T+nSZ8/ABrKyVkeU1aRe6iokkAtYv9hwn/lr
        F67ZkZsPUigaW4uS/1XdtE2jWQsXP//jHz97Gp757I8W+exZPB3m4ucXYStZXm5QSDObL42l61AA
        WL9KfOovTfaN0SNi/BGR0VrzaIGUKKvNICsg79nPv/jyecj74vMvaPnyWTjwpbn8+bOQJyW3rZ5U
        NOhIYiNe6zwv66ubFd1ovMOdjUaTA63JUXcTFodjmEwOm2yqFW3m7uZruOgSxJPr0scbW5NVyslt
        VeRWHOG//OKrL2qpD0q++hKv+y8ts/AMFJEN29IJddNYc30DzuGDAqyH8Vb02TmHD43Vc7MO9I6U
        ppm5eePCwvwiR79onDfdWpybNXIaFmdmZ2nVHPfepvm5GePMvIm+CxfdBfESFPJcjbSySWNYVzqh
        3QZn/3T7T7ex2fEHlttPwwt0ARefxYkvWVE6gXQFBSkpWRoUAWHW7z0t6AsbqmZXmGXRuFQ89ujZ
        sR9xTby4VLRhecVsZI5VVe3cWTm7zEGcbRpruX79xvqb7Omaz7zetWthcWZxNnP8+s15ZsutrrGW
        xvkXx8e7bs2vQHdGPA+kTqup6UrTKNSl1eQuHOi+uv3V7QP44yuM+xIcuP0VDX77pVGoIKWwahIp
        ioszctI0OMTZfr1lRp+fBVgx9zMmfQmMndkC9dyW+TmAmRXKTdeh6FpNbe0aDvv8mhuw9+UUuLbA
        viDsBpxfMs3MG8/CK5uZ825cbAaoN9alQtGccQW6F3KJxos9g9DqFSpydZ6BPI/3tx9//fWPL8LT
        /4vlIrx0G398/fVLTwPUZpNb8gxKojgrW7upTIEE0bafgNHoi/qto2e3GrieulQCL+qXDbWrlzhG
        N5TkwVY91xUW6uFVg355FGbY5l1cToZZk6GxmrNIlrMAXl3Ag8FltkMsmia2wmt6cvt20rS4Ah0i
        xN7hSFkYeTC5Qakj8laTZaMA237yk2dfAHj6+edfgLyXXnrp+Re+R51GQzWZD02TKk3Z2Pi1CAJJ
        sdN4sqy+VL51w9oljsdjV9g2ga1SvWue3WCcrS1Zv97AdZLZa/DiwuKSCbZwZmW2EpZnTTe5/Req
        qmqL9MaF0fLLxRwXml+oHSWr4UeUn6xAx4vdTSGt0+4sP6hUGQqhiUSNL1+5dKU5OfWyrdPl8ZZX
        ms+0ppFqKCWRUtw61liZpcXOHmw7qaDRF16F+V3YApwnfhWalihrznHcYflFWK6GRa7HY/Rds9jG
        Ny7PsSdxNgvq68s3LHH772wtyVtYqh4tBi76ov41WFO6fWLREXo0EgUinbRoA/0SOrFlS/+OS2NX
        g4KutpxJvmSGH3/u5dYW/7HrLa0X6iuQmvqmZmNrVr6OOpqz/dKNRtdXbSMX8oq4xmqCVx1Fdxzk
        Kkht3mqux2P0NRhhYezyPAc9GXj+K3xhZrYr1Yjzje1b5legz8xMrs/bbo4+K3NZHKNDdHVF1K+j
        kNKgrrF/i3A5JaMRIHVj6w1779SNao1KQRAN4YSK+pbSl4lu0q49W1UF5RyzzKbBrmUH6POztWur
        KmDtMifwW9D1j5ZzrsIOv7S0btUkN/Lv7CLXrl1Ye2sTvMid4sWl1+DC0qJjdCESepl/DokIIvkq
        q+1GweqUC2Ps/uObtErq10XUb3GR/fe8FPrya7VFG4oq8m6yPX72JmyYmKGSGvYz67cC7n4eOJuV
        GX3R8BpUc9GzwGiavVnNyVzmboxPrso7X2rog62ctYav+SmcNN+WReFEnyrEoKAwpEBKQquuWTEx
        BckrJ+uaVk39bjYC4uh85rSXBd04WbqdXJow5G2fZN3dtFwKu/SzC4s3Wead19eeJ7XkAvwbu/vi
        QhoOF0ubYZuejUhF+FsL+vVnOZnDws6W5eW1UD15CP59iZvuLP0U+uZWoPu5vRIgcwnoUPadUGoI
        xcbmG3B/UrMDERqdu5DQhLp4vHLpjB+NbppphasXjItXAM6wQvni7Nx5GBvv2pnGNK9xphGu1htN
        ZwCa2VNSfBX8ncfLu2Y5+RzVkJraAilsZzBeA2hdWLV+Yc11GLvJ2UTm14zBjWsz3ER2sAKujqU2
        NroVVL58qeV+uWm5Ot74sov7mdTUrhuX4fw5M/qtM3ueumC61bwn6QLHXLNLTePjKWksQuOt5o6n
        6k2LZzr4Z1iIxuIrP3O5VLlmibshUA2XLj2XdIsdG0yZLz915tbs8tyaSz+7wkU3rnnuZ89lste6
        r1DYVuqY60ZLTU3L9css1Jbma/UXmlsuO+qft/VYEOXwpnnq5cU0v/INY9G0MDu3wFnS5u44wzZx
        HxdrTQsr3wUW540zOI03cpP7eSO+54xpcX4eF7kOj5XGebbDxyFNvkN7Nm9SKNVqnVK+45I15o1f
        kOo0agL/V9aa5+Ca8xre39JLqwwpy3bkpMWGxO5Iq0/YUd9UIKnPLFiXo1AT9G//FUqNRlrcOF7z
        SmshoaFV1B6gz0++UHDhQv0OLMUZGwsf3BSZnlunEsDLf2my+0cPpb5RV+N9SkloNAqdRqtV6jT6
        SbWS8f/6KNUaJf5TK+wqFaHFfxpCp9NpNBqdRqnDm7wGecGVH/21yzeJZX+P8n/m5TWw6HQp8gAA
        ACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMi0wMS0yNVQwNDo0MjozOSswMzowMCZ8RgwAAAAldEVYdGRh
        dGU6bW9kaWZ5ADIwMjItMDEtMjVUMDQ6NDI6MzkrMDM6MDBXIf6wAAAAAElFTkSuQmCC"
            />
          </svg>
        </figure>
        <h1 style="text-align: center">Password Reset</h1>
        <p>Hi Loverboy</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
          voluptates delectus minus labore accusamus pariatur nostrum aliquid
          excepturi praesentium, ab adipisci odit placeat?
        </p>
        <a
          href="#"
          style="
            padding: 8px 16px;
            background-color: #408b24;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
            width: 50%;
            display: block;
            margin: 30px auto 0;
            text-align: center;
          "
          >Create Password</a
        >
      </div>
    </div>

    <div style="text-align: center; position: relative">
      <small
        style="
          position: absolute;
          top: 40px;
          left: 50%;
          transform: translateX(-50%);
          line-height: 1.4;
          font-size: 10px;
          width: 100%;
        "
      >
        &copy; 2022 Frontline Christian Academy, All Right Reserved<br />Frontline
        Christian Academy, Baloc Road, Brgy. San Ignacio <br />
        San Pablo City, Laguna. Philippines 4000
      </small>
      <svg
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="130px"
        height="35px"
        viewBox="0 0 150 35"
        enable-background="new 0 0 150 35"
        xml:space="preserve"
        style="display: block; margin: 10px auto"
      >
        <image
          id="image0"
          width="130"
          height="35"
          x="0"
          y="0"
          href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAAAjCAQAAADcDzuvAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
        AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZ
        cwAACxMAAAsTAQCanBgAABXOSURBVGje7VppdBzFtf6qunv2VdKMZO3eV2FjbLwvCLCxHQM2dswS
        1oQlkBBCEuAlhIQk7AkBQh5gICEYs4bYBmOw8YJ3y1tsy5us1dpntIw0mrW7q+r90EiakWSOz8mP
        d945786f6VtVX9371e1bt6sb+H+5aCEX1y2TwIyRyEM2cogJVHTCjwZRjkZ/6OIQvMPJDMggoKLE
        f7IXdznsoKSJHGlqSZnPQ4oxTJwgu5q7enVGXA4r2dvclTkX+TjjO5LQO8g8ZAhOJMHFJr+/W+tx
        0fnEyff5y1Nw7VhGmDjsK0tc2zAPXTjoi2UtFQ5xwF+Z0KfjaphAAJSJw361W0svxlHPcHEbnifv
        41HMQY5IF27kYy6eIGvJM1m357gvalV08h0sF4CD3pRl7FUPwc8xCg+Jx7IcKd2fEsWkmtwn7nEr
        PSrBAfKBuBZANlmGeI+eDsdjwoWfYCxuIEU9Wq7jcvEC0VKtEAw3i/ug9WGSdPwDMwExBauE2tuR
        kSLcBysk/JBk9Cilb3cxy2RdYnuS3EZspB5nocMrJpBRKBQOEkOZ+ILEMIH/xjbHHguVfztSuNOW
        j3b/S64y7aAWjolurbWLXIq3xHbcgupwVe/6L8Xl+HnzQfM35Kc0Gj6dQOAGn5xDVlhCOAru29TT
        2xIRG+lpzMaH+ku8JRrt1kZVazq5xPdcPys0WxHp8q1Juo6T4bjeVk58iPu/7NXHrARu8rx6DLtI
        W5h3a+ULu+eVaK54DHlowW4xmc9VnERmhKrcy2GzxSZRXQuJFnIM76JAPJA1Vqz3VXxrbDFRlHkL
        m01/3cp6lRQ2zCX5okQcSupaAD8JA9xPJVKET3oRFOxBGfkx7iN6X2d/EMGsPABoS00JdNAkQ0Wq
        1oLPUIRf4WWIVHMxStxgGCM+9vv6AC8o9DLxdyJhEzLFf0lz0iP29qFr8vY4jumAOvtlgz93s4NZ
        M/Vb8CgoXhQr8KesUd9GlqDoENU4TZQUtUpyUETebOlM7grCAMgCNNkFAmFga3GY3C8uKn1cjAgB
        Ll6FShZD7dfUiVqcQt/CXpiszLvFa1gvnOLPKBad4z53t+ee9LrnHHa4TKHReyUY65XwzL9bKu58
        jBrED8lmPI3dYmvmGO8Fb2wB1Pn3Nf/F15TkvoYYfx8MD3stfVp+BCOpB0ARYnRLEgQD0wJ4SFyN
        on7gHCzZrQS2AABvYebkJLXeb6QQ8DfJ9/Kb4eyH2EqO+NYSxZPXoxrUtUyTbRWuwg4sQXHa2ZFf
        Z1c4IxE9MqRh/Ik5Qa9mCnoqp1tFuMCfkdd0Lje/xD+eGbCYhPEi/kRCptNRMRDTM5KsgNt6PNyR
        rLXdiYk0Sp7HEjLVuCuacMTYKA3BEtswshLrsCWUyBhuWZ5DrpXO+Fts1bCFd6XgfBfThd28LcJ7
        53OR5Rhpd9uuIXeQd0OJTJZpx12wW0+EE3uvx0KW4DLLieZGWwhyeE8vAxn4HkaRXFsxrsCBcOBb
        yLItwsP4BLfrs8dtiTjyTgcLqqd0eeonh10KzLWGBoWNyqnO6HBrXhYzN1Rexs1Ddmr5+kSaRlbj
        HloZPj8Q025CLQ7DFw6nzESxHed9p6xH4Re10URsxER4r9VH7WItdvl63TcTSSHnSFM4FC5zlXbF
        knGsCnaQCq021tdbpm3iS9pFarGpuXfrsMrkvNglWiPB7msHRRRV8IUj9lJRFu7NeRYFnWQXbSWN
        7F/a+Z7taJAUOGSGeB7viN9KrrQKbyWNto+Ko3mS3Dpvm2SIqo2+oDo/77IVFbvqzn9THM/jRuDS
        j+u14fbSmVoaeVHU434x1R/EBcRFDbKqdQhctGQS37f2TidCaVcvFu0/kQFkZVqxgZSIkbjBU2k4
        Z+jUCptGGX35J4hUPYHElEbTmcK0oltyjHXhf/ozDlpiLdn1CzKraFz3uQOtc0J2/IWcF+PwhK+1
        P3KWkSxl45lPa1Ay5aHYEdhpYqZHRIw1KlPZEf6pxMlyPpaXySN0XX/esBRTWZlSwEKiUZnMhXin
        o1JnQLqNXCsySEAaoR4LbdYi3htYfrzakGmwYUfz0YxLyEI4RB3JVksNI4VBBKlNjxr+xlfAJVqk
        fFbf+rc+izzP6G8FKnuuMhaR6QgIv/5hBwcA9whpmYhIufzD1uPdPQYkeLoYtULnKy01WaXhXG6q
        G0VjV37ckHd2vufTK+5/f8WXjy3p8BgZGSIXV1VNPnV5wV7b4ZYc3TLsC0N0/EZmxApxEosxtz+u
        x8l/wB/VW7o20i/je3hUPCJlQahn9GFc1sfHKhQW57EqNoxbRbF+OijiNXqh1sVnxI5GtsXLtNHk
        lbQxANAZC59WhwonuT5WJlRvDv+pek7eqB8Sl/LvA3SK+JF2JnxId6thOkOtjh5mGdIjelhv1icq
        hXxm6GSfRTlu6QEpKfWrDZpXDcurjFd2Xwf9sSoxX2Wx3meLfjnLOwpPk6/Ejyx08ueZB51tB7/v
        OrHs1Xd+5971u5V//fxYw5tsxgNtD8tmAl3OKX+keH/a/geLX1e7GmdKTufxo7dKHOmYgpdwm2Vj
        JCmreC3sZ+KRjkXhzSwY42prZJex2ODrqIiVWYYaJ0c/D20JizjiTWaDPIP5Ol8GVJ/SaCpgruCr
        etR6UleMlE2JbAY415vNeXIO8Xf8I03hS4Uz/nYoHG8yVOgr42stK/k3gdV6s70Lk2HqeEqrVUuM
        edFtxrJ4l3mkeqRrXa9FivhF7G+GRdrXLFHPx332/fQh/qnyrG1dqAsQcfWMxRZaH6vtDaR+AbAI
        flxKCuLWkiWlS0+v8JSP3fz2k8W/mP3gbc0AUO44/yTcBICMyJVDTEuevv6uTb/Or8r4yjc2MmPi
        xrFvyVEU8cPQ6PJk2OjVYpa0VUsqWtlz3WRyTURF73ZOGOJIJGmT1FN6tumyphApMyl3CAAwWFhc
        9liuBIDYWf0ZQOyIbAAAKhOVcABggfhfdZtMqSE1NEi+buM1wmZZmXRXeaJb9SHRu7DWOTwRSw0i
        qWxPISvLRObhpLgDEJKaXXV1Y+HVn5xZlrNt43+/FQKArZk73pDSlITBQj543dWjHz586R8PrJiz
        VzOcH5VZefpWwQB6DzaT25KRpXSpRpxM1nSeje7s/sdJX4VE+WCVX+Y4ukCfq6/trw91qA3aJ9J8
        z86s5Q5DeDfQ+nWsoofPHgkf15oGYurztP24gh02XdenE5BChnXS9ex161OWYQCQWu2nmrYMFG0w
        EFVoOafsTbmHdkyIdrz64+7GelLzcMeNfURL6HKfmV3y7od/yNix46YRbzNL9YK5z8xYbfXjRoSE
        K8OTNE2n7GCdGFR40Pojz2rPm543PW+K+2hSLz2oDMt8wbtB7NZdLde0fdF/ZFBE9hCobfGn1OV0
        Z9YduGjx5nCv9CXbHj+Fdnt2n55Qf2XnU2Ic2+B432zvPyqFLDEbZzDcGCqsHn3MEids4jHfwux3
        rkrsa81jw0tMIL0/I3iBUqnNqp+U/kE47zt1tL1q9OX+uMIV2ABslcYmEaKyLuIa3HBija6PvtL9
        wxfC1tci2bQa/cnQPbGXJZp+xeCj29+hqwlom/Znep1t0sWSRefIIeNQW8h0SeyE+bupbVpn5Es+
        VP2t4wWz91vIwihCcAU0Q0XGDo3Rlux67+4F23oaS3+Asand2VC30dh56rsPnvCs+eqSvHLQ9Tcf
        uiVqB7CYVJNZmb1BLDJIhTIidWp3rsEDABLlTaGTodJQaaiUNiYHPqHgbaGIT2zQ/kl/4FnQ32VH
        mnUaEKjv3BJ5kdk6VlvvNlgvjixtqS7Hp8amiCirEMvTxqe2hvfHvyGzWKvzYaGRJJdTvCdDSbqY
        kN7UNeTUTdXjC85vucSwf3kTUK5suqY8X1sMSpD8Q0hjVMGVGWnFG/2OjP1hJ3Ot+mXuBwLIZvvE
        mL5YonFVRmFa0o2ZmUt/yWwAEcn0sOTys/d/pMJQGH2b3uUckuqUJcf8bKLHebHFdAUzEEOiiaf2
        FBAcpAcxe2L8s8BLgXeC70bWiKHGA3JxopskJ54Pg/si7/E2oUuvo31QshxUBHhYkLjeaXO0UImy
        mPey41M1oPTayocALZemUMWgVgUU1R0b58vJaYqPinGFWes33VbzXQK4CUWe6D3QC6/XG2L/on+y
        9O5o/Gn+NasGYBeUmnu0ihUSTAnTzEKWFABg4firfDxrNv4ssagmSgkA0Sq3uhOOmohhGt9q6ejh
        kSg0JTkTq6x3o3kd/F4tcSBkbDM1Bg+TCXI6ANA8MlxJzB4tU/3xAFmTfL6RtJk67eRq+MUsez05
        p0qhEWRPa8akDw81lZuPbRai6MOynwg5ORBV5L2lTwvPEAZXSdfRHY/ru5TJnc7CnYWHfZO4SjZj
        FTaEE4e8TJPr2XCaZbnHXmAbbp5mvBMfi6+cxPYLMQ+lpjtNbcZKE3Vex+4lJ+Rim1UqcS9mj0tn
        6FWWHPORqKrGrCFtiLLAoivN7vlYQdvJMsMp1cct0q9sw2xO+1R+D2tueyYGwGuxXyceFQekRdYp
        9LTaAeS4+Z3kbhEhV5la7V3icdVjW2iOmGuizDWJLJZy6WjLcrYzfap+h5RvmWluijQCgFoqu+mU
        WAnvWYCUwz8DwkIA1raWkZKdQGFEOEQ9yq6JZ5kaiEZSno0YqN9WU/ukEWGw7GYOoTOhOcXZ260B
        UyAkUSM3JdcokVa8pa6TphhmiqFsl7I6wAEHje7DLljJ1zBYiJG315BfCBe+gstMWhrJQ0jHD2V3
        d7HVflg+oX5lupc0tvjwDDGJNdQmuvS/yv8wLJSmiw78OpSo4jSE6/iPkY4HYKQcAPwcJWIvsYgQ
        sUEn73JjKEYkK4CAji8E8AnjMm+vwV84kyW5t5AJbeL1JNDnQ3LJxYRCwCFTDq4wOGztvDNblNde
        ZQahQiY6MfbRxbuGPF3xLBma2BkzDIEMvc7ekMaogYXNpF0w6N1lYZbVOTOe0b0aAM4CyMCqNPRq
        AC/ARqLnQMkLsFWZ3UuTAbCl3dYrIFA3Sy5venfiAfRhpPvWOApgKpvKEjdLIjVmACjUZ3JIyTdQ
        7+kUG+GC0hcASduPOqYnR8lg4xmMUtl7/ciKdRm9qJPQkmPzuXztuYrB2rxnauwQtwPMFHcp5ZFJ
        PdCq6vk9sakzFQjIIO2d+eZjTr3MUrA3d5u5/vDz4Rg60YoIAMhDor+n07pv3P6SqmEX+N8TMd16
        dsExGLTHYJpUzAsJT9gXB97rJq9XOnSSSYxcpJ+evL5gtyJqvMMPq1M2mC3HdcB7ZpLxcxKjoCCI
        w/FUPFr3oBEUFAa/fuqbuUqTNooj5jix4MT3YhYSJBoaRBAAZE61HqP1bzGMQ++/iSVEXNApAQYG
        HeICmIC4wJx9ejbIaAEGAQGegp1alLYgThpaJu68r2qWuyk8bFqoufjLSePW6NDTm3848WWciANg
        MO4bvSv6I5O3m3XL315XG+9eUVI+VcG4f8/ZOfacZkCrGI1yvT3VBMfBwg8GO3gi0ICWEQ/k32Ld
        JAZpJU3TXo8PMg7B3L9P/8Nlvxr/UmgQmklX4bvexzMfKnpYxPu3Guuy/5j/mQYCHdlr01+jKfAM
        xvOjnsh5yVI1dN3IPxjP98RlapVZLQJkmzANPdMZj1jiBR8ttW8599B5UfB9qSk4o3rh2CeUshhY
        7cjfnHgyMlqDDtSm/XnKcw3fM3VsMMXGmoK1ow6tqptFILZhvChpT1nUODL+ZX/D0D7wvFGF++vZ
        P628Njxz0pqBpMRg2vnKA5b2gRHCzS2Z+qmKa6rSFixg5QNuPlOX6Vyjb6XfZqnuT1bQJWoe+wFR
        4zA2/eTuKOIppy8S4mltHvlUyBVhJBxzSr36JLHlYxI5qS9R3QGXuyGeFcke93Lb7P1D29cbg2FK
        C1u35u5SovbPJ6/zzzOdNh1R/xn45OT2txc33lCwuvlOPc8YGPGWavaP4Ar5AAvwTvfZtcuNZcgX
        YKzoG4enpT1+aX+6dJb1XO28yAq1gGZ1juj/JC3U3E/2T21Xo+P7n4FziarWU423R6a0l3jOt89V
        +rUawrFassjsDE8gcuqcurHgOAtXFkTzsz+Mn69bFJ2Qis2NXZfMfaMmf9yOf/8cGRQdTwL93hvy
        j+h8wZiRse+8/9ndoHAEFkw9sH9JZ9mhvc2f5k2KfcfQcvmDT8SA7//62HRbgVbhlthEtTi31JIT
        nWRWh5QHx2QH2mRsByejUZViHty79mVHxix/Zd1dFqSKq9Ekt1ynQGRWL+z/IpMg46jR8eXjS+/Y
        Mx+efo2gLCiIMINdzrcMfAXKFecXptI7Yk9tsw5AVcn2+ws/qs5Ydfrla2zR/ssngZj3L7/pj8dX
        8cy+1+cpM7Q0Z57DcHwtirbdRrIBhjaz9Z/hH28UAPDvc7+TWoeWPHnPUb+9Rhn7xXsfJIa9s8pe
        f4VzXuSSqrnSTKELE31D3CT+nnpyTjXXgVuPigNpVZ/rXE6NHtUsRWgd0rrLkNSsFcOQTxcdLz4/
        8cCe0/q8gYQwABpc1baxOpR+bXLct8L4s4/POQKs3ycGBGhvwjXnLK+vvZQddfL2AbgS+M3fHKme
        Y0qyJzG7m9qHmfUAFwfxG7Gu63KRJanwuXZMftTp393b+wmGihv/EloofOO3vhLtA/6oC5/NOuu7
        N3Qjy4ZMA0yBm+wflyOns+CpGgAQkA9fu++1pwU1vZC2ruM6akg2LJIWyst5+9y9BmI1dg1PJlJA
        BJbvfvNnocnOUP72yslIOTYhTO4gQVYui9zSk780IlUI4x2etlBjxzFDZdfKVJqlMAsoTZ+vnLH1
        1PTYblOUDDhHEzC0oov4xZhkAhNsTZhBJPcsxxBVzjbxdqXC/tHQV+evfrv9aL/t6WSw9N9l50oG
        ZNu6ttsOSCciqrFVP2UYaVdzw1Y5N00ZV33M5cYymu/YvKfCdLXkUEpoK7sUtuSxlHQUuc5O/3j4
        2bCjY3Sq1d4j35w0TtFnKHuCtbaRWnZymxTK2FhVV3i2qPbgg/yS/lEnhdI2S3X5pR0n+K26OxXV
        UcH22IOd91dP0PPSv9AsbJroF5YMrk86KvPCHfMBJHIWATIzcD+dU/Tslm0YRK7NbZofWKi4Gddq
        bUfy9m1KfKyzdELlwtgi4eUGWm/ePfb9Twf5MKSevHbVq6Od2+kbmM0TtbIAGfQTBB0cAvKAF5nd
        40iiNKADWik4NBgxmDBQdIcMGTCuB01AYLAX8wQaJPCEPTUkQZY3j7xNr7B+bW716TKcNKTJ1CJU
        jUs2plBfkTaapwkARJAOWp++3VynU3VEcJo6gifyJo0ZTjv3EikObgYVUBQuaVSXqGyxtlXYX8Or
        bDr+T0uN0kOWg1yLEXHosIBDhwRAhQQKDQzmlD1AIAYZgA5DUgwQcMQAdNf3HBwUBBIYOIwHXYf4
        Qi33f9vd/5CsZwHgfwBEFPbznbxtiwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMi0wMS0yNVQwNDoz
        ODozOCswMzowML4SyPIAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjItMDEtMjVUMDQ6Mzg6MzgrMDM6
        MDDPT3BOAAAAAElFTkSuQmCC"
        />
      </svg>
    </div>
  </div>
</div>
