// COLOR

$color-primary: hsl(122, 88%, 23%);
$color-primary-d: hsl(122, 88%, 13%);

$color-dark: hsl(0, 0%, 20%);
$color-dark-d: hsl(0, 0%, 10%);

$color-light: hsl(0, 0%, 100%);
$color-light-d: hsl(0, 0%, 95%);
$color-gray: hsl(0, 0%, 93%);
$color-border: hsl(0, 0%, 80%);

$color-error: hsl(0, 42%, 44%);
$color-confirm: hsl(122, 88%, 23%);
$color-warning: hsl(61, 89%, 37%);

$break-md: 1050px;
$break-sm: 650px;
