*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: $color-dark;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-dark;
}

p {
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
}
